.content > p {
  max-width: 768px;
  margin: 1em auto;
  padding: 0 0.5em;
  font-size: 1rem;
  color: var(--gray-dark);
}

.content > h2 {
  max-width: 768px;
  font-size: 1.5rem;
  margin: 1em auto;
  color: var(--blue);
  font-weight: var(--bold);
  letter-spacing: 1px;
}

.content > blockquote {
  max-width: 768px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background-color: var(--gray);
  color: var(--blue);
  font-style: italic;
}

.content > blockquote > p {
  margin: 0.5rem 0;
  color: var(--blue);
}

.content a {
  color: var(--green);
  font-weight: var(--semi);
}

.content a:hover {
  text-decoration: underline;
}

.content > hr {
  max-width: calc(768px + 2rem);
  margin: 2rem auto;
  border-top: 2px solid var(--green);
}

.content > pre[class*="language-"] {
  max-width: 768px;
  margin: 1em auto;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

.content > ol,
.content > ul {
  max-width: 768px;
  margin: 1em auto;
  padding-left: 1em;
}

.content > ol li {
  list-style-type: decimal;
  margin-left: 1em;
}

.content > ul li {
  margin-left: 1em;
  list-style-type: square;
  color: var(--green);
}

.content li p {
  font-size: 0.9rem;
  margin: 0.5em 0;
}

.content code:not(pre code) {
  background-color: var(--gray-dark);
  color: white;
  display: inline-block;
  font-size: 0.9em;
  padding: 1px 6px;
  border-radius: 4px;
}

.content > .infobox {
  max-width: 768px;
  border: 1px solid var(--green);
  margin: 0 auto;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.content > .infobox .infobox__title {
  background-color: var(--green);
  font-size: 1.45rem;
  color: white;
  font-weight: var(--semi);
  padding: 1rem;
  line-height: 1.1;
}

.content > .infobox .infobox__body {
  margin: 0;
  padding: 0.5em 1rem;
}