@import './tailwind.css';

@import './node_modules/@fontsource/rubik/400.css';
@import './node_modules/@fontsource/rubik/500.css';
@import './node_modules/@fontsource/rubik/700.css';
@import './node_modules/@fontsource/rubik/400-italic.css';
@import './node_modules/@fontsource/rubik/500-italic.css';
@import './node_modules/@fontsource/rubik/700-italic.css';

@import './variables.css';

@import "./atoms/index.css";

@import './content.css';

@import './lucide.css';

@import './node_modules/prism-themes/themes/prism-dracula.css';

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

body {
  background: hsl(188, 12%, 36%);
  color: white;
  font-weight: 600;
}

html, body {
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  background: hsl(188, 12%, 36%);
}

.slide--title {
  background-color: hsl(190, 60%, 19%);
}