html {
  font-size: 20px;
  --green: hsl(73, 96%, 38%);
  --blue: hsl(190, 60%, 19%);
  --gray-dark: hsl(188, 12%, 36%);
  --gray: hsl(180, 5%, 89%);
  --blackish: hsl(0, 0%, 20%);
  --overlay: hsl(180, 5%, 89%, 0.95);
  --bold: 700;
  --semi: 500;
}