.clickable {
  position: relative;
}

.clickable a::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.clickable .clickable-fade {
  transition: 150ms ease-in-out opacity;
}

.clickable:hover .clickable-fade {
  opacity: 0.5;
}

.clickable .clickable-chevron {
  transition: 150ms ease-in-out transform;
}

.clickable:hover .clickable-chevron {
  transform: translateX(0.5rem);
}