.file-input {
  color: transparent;
}

.file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.file-input::before {
  content: 'Select .ab1 file';
  color: white;
  display: inline-block;
  background: var(--blue);
  border-radius: 3px;
  padding: 5px 2rem;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  -webkit-user-select: none;
}

.file-input:hover::before,
.file-input:active::before {
  color: var(--gray);
}
