/**
* LPS LIST STYLE TYPE
*/

.lps-list {
  position: relative;
}

.lps-list::before {
  content: ' ';
  position: absolute;
  left: -1.25rem;
  top: 0.7rem;
  width: 0.75rem;
  height: 0.75rem;
  background: var(--green);
  pointer-events: none;

}

.lps-list::after {
  content: ' ';
  position: absolute;
  border-top: 2px solid var(--green);
  left: -3rem;
  width: 2.5rem;
  top: 53%;
  transition: 150ms ease-in-out transform;
  pointer-events: none;
}

.lps-list:hover::after {
  transform: translateX(-0.5rem);
  transform-origin: right;
}

.lps-list a:hover {
  color: var(--gray);
}

/**
* DIVIDER DOTS
*/ 

.divider {
  height: 6rem;
  position: relative;
  left: -0.5rem;
}

.divider-dot {
  width: 1rem;
  height: 1rem;
  position: absolute;
  background-color: var(--blue);
}

.divider-dot-1 {
  left: 33%;
  top: 30%;
}

.divider-dot-2 {
  left: 50%;
  top: calc(30% - 15px);
}

.divider-dot-3 {
  left: 67%;
  top: calc(30% + 15px);
}

/**
* TITLE DECORATIONS 
* (used on Header and Hero)
*/

.lps-br-dot,
.lps-tr-dot {
  position: relative;
}

.lps-tr-dot::before,
.lps-br-dot::after {
  position: absolute;
  right: 0;
  content: ' ';
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--green);
}

.lps-tr-dot::before {
  top: calc(-1rem / 2 - 2px);
}

.lps-br-dot::after {
  bottom: calc(-1rem / 2 - 1px);
}

.lps-crossline {
  position: relative;
  display: inline-block;
}

.lps-crossline > h1 {
  background-color: var(--gray-dark);
  background-clip: content-box;
}

.lps-crossline::before {
  position: absolute;
  top: 50%;
  left: 0;
  right: -3rem;
  border-top: 4px solid var(--green);
}

.lps-crossline::after {
  position: absolute;
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--green);
  right: -3rem;
  top: calc(50% - 0.5rem + 2px);
}

@media (min-width: 940px) {
  .lps-crossline::before,
  .lps-crossline::after {
    content: ' ';
  }
}
