.lps-a-home .lps-dotted-i-1,
.lps-a-home .lps-dotted-i-2,
.lps-a-home .lps-dotted-i-3,
.lps-a-home .lps-backbone-1,
.lps-a-home .lps-backbone-2 {
  transition: 150ms ease-in-out transform;
}

.lps-a-home:hover .lps-dotted-i-1,
.lps-a-home:hover .lps-dotted-i-3 {
  transform: translateY(-6px);
}

.lps-a-home:hover .lps-dotted-i-2 {
  transform: translateY(6px);
}